[submodule "rust/ethereum/foundry/hello_foundry/lib/forge-std"]
	path = rust/ethereum/foundry/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rust/ethereum/foundry/nft_foundry/lib/forge-std"]
	path = rust/ethereum/foundry/nft_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rust/ethereum/foundry/nft_foundry/lib/solmate"]
	path = rust/ethereum/foundry/nft_foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "rust/ethereum/foundry/nft_foundry/lib/openzeppelin-contracts"]
	path = rust/ethereum/foundry/nft_foundry/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "rust/ethereum/foundry/simulate-transfer/lib/forge-std"]
	path = rust/ethereum/foundry/simulate-transfer/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
